In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sb
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [2]:
raw_Data=pd.read_csv("Example-bank-data.csv")
raw_Data

     Unnamed: 0  duration    y
0             0       117   no
1             1       274  yes
2             2       167   no
3             3       686  yes
4             4       157   no
..          ...       ...  ...
513         513       204   no
514         514       806  yes
515         515       290   no
516         516       473  yes
517         517       142   no

[518 rows x 3 columns]

In [19]:
data=raw_Data.copy()
data=data.drop(["Unnamed: 0"],axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 2 columns):
duration    518 non-null int64
y           518 non-null object
dtypes: int64(1), object(1)
memory usage: 8.2+ KB

In [20]:
data['y']=data['y'].map({"yes":1,"no":0})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 2 columns):
duration    518 non-null int64
y           518 non-null int64
dtypes: int64(2)
memory usage: 8.2 KB

In [24]:
y=data["y"]
x1=data["duration"]
data.head()

   duration  y
0       117  0
1       274  1
2       167  0
3       686  1
4       157  0

In [26]:
x=sb.add_constant(x1)
reg_log=sb.Logit(y,x)
result_log=reg_log.fit()
result_log.summary()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Fri, 08 May 2020   Pseudo R-squ.:                  0.2121
Time:                        11:33:18   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""