In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn 
seaborn.set()
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("1.02. Multiple linear regression R squared.csv")

In [3]:
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [4]:
x=data[["SAT","Rand 1,2,3"]]
y=data["SAT"]

In [5]:
reg=LinearRegression()

In [6]:
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
reg.coef_

array([1.00000000e+00, 2.65440188e-15])

In [8]:
reg.intercept_

-4.547473508864641e-13

# R squared

In [9]:
reg.score(x,y)

1.0

# adj R squared

$R^2_{adj.}=1-(1-R^2)*\frac{n-1}{n-p-1}$

In [12]:
n=x.shape[0]
p=x.shape[1]
adjRsq=1-(1-reg.score(x,y))*(n-1)/(n-p-1)

In [13]:
adjRsq

1.0