In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as am
import seaborn
from sklearn.linear_model import LinearRegression

In [2]:
raw_data=pd.read_csv("real_estate_price_size.csv")

In [3]:
raw_data

         price     size
0   234314.144   643.09
1   228581.528   656.22
2   281626.336   487.29
3   401255.608  1504.75
4   458674.256  1275.46
..         ...      ...
95  252460.400   549.80
96  310522.592  1037.44
97  383635.568  1504.75
98  225145.248   648.29
99  274922.856   705.29

[100 rows x 2 columns]

In [6]:
x=raw_data["size"]
y=raw_data["price"]

In [8]:
x.shape

(100,)

In [9]:
x_matrix=x.values.reshape(-1,1)

In [10]:
reg=LinearRegression()

In [11]:
reg.fit(x_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## R value

In [12]:
reg.score(x_matrix,y)

0.7447391865847586

## Coeff

In [13]:
reg.coef_

array([223.17874259])

## Intercept

In [14]:
reg.intercept_

101912.60180122912

In [ ]:
reg.